# Core deep learning
torch>=2.6.0
torchvision>=0.21.0
torchaudio>=2.6.0

# Lightning training framework
lightning>=2.6.0
lightning-bolts
lightning-utilities
torchmetrics
torchinfo

# Hydra config
hydra-core>=1.3.2
hydra-colorlog
hydra-optuna-sweeper

# Loggers
wandb

# Project dependencies
rootutils       # standardizing the project root setup
rich            # beautiful text formatting in terminal
trimesh
roma
open3d
einops>=0.8.0
transformers>=4.40.0
diffusers
opencv-python
pillow
scipy
scikit-image
scikit-learn
numpy
matplotlib
tqdm
seaborn
safetensors
huggingface-hub>=0.22
jaxtyping
deepspeed
